body {
	background-color: #cccccc;
	font-family: arial, helvetica, sans-serif;
}

.userHeadline {
	font-size: 12pt;
	font-weight: bold;
}

label {
	font-weight: bold;
}

.error {
	color: red;
}

.errorPage {
	text-align: center;
}

.oops {
	font-size: 76pt;
}

.fieldError {
    border: 1px solid red;
}
