body {
	background-color: #cccccc;
	font-family: arial, helvetica, sans-serif;
}

label {
	font-weight: bold;
}

.error {
	color: red;
}

.errorPage {
	text-align: center;
}

.oops {
	font-size: 76pt;
}