<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}" media="screen" />
	<link rel="stylesheet" type="text/css" th:href="@{../css/admin.css}" />
	<script src="https://use.fontawesome.com/369dfeb314.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/admin.js"></script>
	<title th:text="#{admin.titleedit}">Jasmine - Edit User</title>
</head>
<body>
	<div class="container" style="margin-top: 50px;">
		<form name="edit" th:action="@{/admin/edit}" method="POST" th:object="${user}">
			<div class="input-group input-sm">
				<label>
					<i class="fa fa-edit fa-2x"></i>
				</label>
			</div>
			<div class="input-group input-sm">
				<span class="input-group-addon" th:text="#{username}">username:</span>
				<input class="form-control" type="text" th:field="*{username}" readonly="true"/>
			</div>
			<div class="input-group input-sm">
				<span class="input-group-addon" th:text="#{firstname}">firstname:</span>
				<input class="form-control" type="text" th:field="*{firstname}"/>
			</div>
			<div class="input-group input-sm">
				<span class="input-group-addon" th:text="#{lastname}">lastname:</span>
				<input class="form-control" type="text" th:field="*{lastname}"/>
			</div>
			<div class="input-group input-sm">
				<span class="input-group-addon">Password:</span>
				<input class="form-control" type="password" th:field="*{password}"/>
			</div>
			<div class="input-group input-sm">
				<span class="input-group-addon" th:text="#{expireon}">expireon:</span>
				<input type="text" th:field="*{expireon}" th:class="${#fields.hasErrors('expireon')}? 'alert alert-danger' : 'form-control'" />
			</div>
			<div class="input-group input-sm">
				<span class="input-group-addon" th:text="#{role}">role:</span>
				<select th:field="*{role}" class="btn btn-default" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
					<option th:each="role : ${T(com.bui3.Role.RoleValues).values()}"
							th:value="${role}"
							th:text="${role}" />
				</select>
			</div>
			<div class="input-group input-sm">
				<input type="checkbox" th:field="*{enabled}" style="margin-right: 5px"/>
				<label style="font-weight: 400; font-size: 14; font-color: #555" th:text="#{enabled}">Enabled</label>
			</div>
			<div class="input-group input-sm">
				<div style="display: inline-block; position: absolute;">
					<button class="btn btn-primary btn-sm" type="submit" th:text="#{submit}" name="action" value="save">submit</button>
				</div>
				<div style="display: inline-block; position: absolute; right: 10;">
					<button class="btn btn-primary btn-sm" type="submit" th:text="#{cancel}" name="action" value="cancel">cancel</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>